<h1>Flight Number: <%= @flight.number %></h1>
<p><%= @flight.date %></p>
<p><%= @flight.time %></p>
<p><%= @flight.departure_city %></p>
<p><%= @flight.arrival_city %></p>
<p>This flight belongs to this airline: <%= @flight.airline.name %></p>
<section class='passengers'>
  <p>This flight has these passengers:</p>
  <% @flight.passengers.each do |passenger| %>
    <%= passenger.name %>
  <% end %>
  <p>Number of minors on this flight: <%= @flight.number_of_minors %></p>
  <p>Number of adults on this flight: <%= @flight.number_of_adults %></p>
</section>
