<h1>Passenger Name: <%= @passenger.name %></h1>
<section class='flights'>
<p>This passenger goes on these flights:</p>
  <% @passenger.flights.each do |flight| %>
    <%= link_to flight.number, flight_path %>
  <% end %>
</section>
<%= form_for @flight_passenger do |f| %>
  <%= f.label :flight_number %>
  <%= f.text_field :flight_number %>
  <%= f.submit "Submit" %>
  <%= hidden_field_tag "flight_passenger[passenger_id]", "#{@passenger.id}" %>
<% end %>
